@model IEnumerable<ComputerMaker.Models.Motherboard>

@{
    ViewBag.Title = "GetMotherboardList";
}

<h2>GetMotherboardList</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewMotherboard")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Socet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formfactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemoryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemorySlots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxMemoryCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxMemoryFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCIe1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCIe2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCIe3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntegratedGraphics)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Socet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formfactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemoryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemorySlots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxMemoryCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxMemoryFrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATA3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCIe1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCIe2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCIe3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntegratedGraphics)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
