
@{
    ViewBag.Title = "Maker";
}

<h1>Maker</h1>
<div id="maker" style="height:300px">
    <div id="motherboard">
    </div>
    <div id="processor">
    </div>
    <div id="memory">

    </div>
</div>
<div id="test"></div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function onChange() {
        var MotherId = $('#motherboard option:selected').val();
        var ProcId = $('#processor option:selected').val();
        var MemId;
        var i = 0;
        while ($("#memory").is("#memory" + i)) {
            MemId[i++] = $("#memory" + i + "option:selected").val();
        }
        console.log(MotherId);
        console.log(ProcId);
        console.log(MemId);
        CheckProc(ProcId);
        CheckMother(MotherId);
        CheckMem(MemId);
        LoadMother();
        LoadProc();
        LoadMem();
    }
    function CheckProc(Id) {
        $("#test").load('@Url.Action("CheckProcessor", "Home")?Id=' + Id);
    }
    function CheckMother(Id) {
        $("#test").load('@Url.Action("CheckMotherboard", "Home")?Id=' + Id);
    }
     function CheckMem(Id) {
        $("#test").load('@Url.Action("CheckMemory", "Home")?Id=' + Id);
    }
    function LoadProc() {
        $("#processor").load('@Url.Action("LoadProcessors", "Home")');
    }
    function LoadMother() {
        $("#motherboard").load('@Url.Action("LoadMotherboard", "Home")');
    }
    function LoadMem() {
        $("#memory").load('@Url.Action("LoadMemory", "Home")');
    }
    $(document).ready(function () {
        LoadMother();
        LoadProc();
        LoadMem();
    });
</script>

